.map {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
}

.marker {
  position: absolute;
  left: -18px;
  top: -18px;
  height: 36px;
  width: 36px;
  background-image: url('../public/images/map-marker.png');
  background-size: contain;
}
