body {
  font-size: 14px;
}

.sidebar {
  background: #f8f8f8;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 100%;
}

@media (min-width: 768px) {
  .sidebar {
    width: 60%;
  }
}

.item-container {
  margin-bottom: 12.5px;
}

.image-wrapper {
  padding-bottom: 67%;
  position: relative;
}

.image-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.image-container img {
  width: auto;
  height: 100%;
  display: inline-block;
}

.filter-container {
  background: white;
  padding: 15px 20px;
}


.slider-container {
  position: relative;
}

.collection-container {
  padding: 20px;
  position: relative;
}

.collection-wrapper {
  position: relative;
}

.collection-loading {
  background: white;
}

.collection-loading::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 10;
  opacity: .8;
}

.slider-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  padding: 5px 8px;
  font-size: 24px;
  background-color: rgba(60,62,63,0.7);
  border-radius: 0 2px 2px 0;
}

.slick-slider {
  margin-bottom: 0;
  background: #C0C6CA;
}

.slick-slider:hover .slick-prev, .slick-slider:hover .slick-next {
  opacity: .8;
}

.slick-next, .slick-prev {
  right: 10px;
  opacity: 0;
  transition: opacity .1s ease-in-out;
  background-image: url('../public/images/right_arrow.png');
  background-size: contain;
  width: 34px;
  height: 34px;
  margin-top: -17px;
}

.slick-prev {
  background-image: url('../public/images/left_arrow.png');
  right: auto;
  left: 7px;
}

.slick-next:before, .slick-prev:before {
  content: "";
}

.slick-next:focus {
  background-image: url('../public/images/right_arrow.png');
  background-size: contain;
  width: 34px;
  height: 34px;
}

.slick-prev:focus {
  background-image: url('../public/images/left_arrow.png');
  background-size: contain;
  width: 34px;
  height: 34px;
}

.slick-next:hover {
  background-image: url('../public/images/right_arrow.png');
  background-size: contain;
  width: 34px;
  height: 34px;
  opacity: 1 !important;
}

.slick-prev:hover {
  background-image: url('../public/images/left_arrow.png');
  background-size: contain;
  width: 34px;
  height: 34px;
  opacity: 1 !important;
}

.panel-body {
  padding: 5px;
}

.panel-body-name {
  font-size: 14px;
  white-space: nowrap;
  margin-top: 6px;
  text-decoration: none;
  text-transform: capitalize;
}

.panel-body a {
  color: #4B5052;
  font-weight: normal;
  display: block;
  text-overflow: hidden;
  overflow: hidden;
}

.panel-body-small {
  color: #7E888C;
  font-size: 12px;
}

.map {
  position: fixed;
  right: 0;
  width: 40%;
  bottom: 0;
  top: 55px;
}

.marker {
  position: absolute;
  left: -18px;
  top: -36px;
  height: 36px;
  width: 36px;
  background-image: url('../public/images/map-marker.png');
  background-size: contain;
  cursor: pointer;
}

.marker.marker-hover {
  background-image: url('../public/images/map-marker-hover.png');
  z-index: 10;
}


.infoBox.active {
  display: block;
  background-color: rgba(255, 255, 255, 0.85);
  visibility: visible;
  z-index: 500;
}

.infoBox {
  position: absolute;
  height: 244px;
  width: 280px;
  padding: 10px;
  background: white;
  left: -140px;
  top: -259px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border-radius: 2px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0);
  visibility: hidden;
  cursor: default;
}


.infoBox::after {
  border-color: rgba(255,255,255,.8) transparent transparent;
  border-width: 15px;
  border-style: solid;
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -30px;
  left: 125px;
}

.infobox-content {
  opacity: 1;
}

.infobox-content img {
  width: 100%;
  height: 175px;
}


.navbar {
  background: #fefefe;
  border-bottom: 1px solid #f5f5f5;
}

.navbar-brand {
  color: #bbb;
}

.rheostat {
  overflow: visible;
}

.rheostat-background {
  background-color: #fcfcfc;
  border: 1px solid #d8d8d8;
}

.rheostat-progress {
  background-color: #FD5F64;
  position: absolute;
}

.rheostat-handle {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 100%;
  height: 24px;
  outline: none;
  z-index: 2;
  width: 24px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

.rheostat-horizontal {
  height: 24px;
}

.rheostat-horizontal .rheostat-background {
  width: 100%;
  position: relative;
  top: 14px;
  height: 2px;
}

.rheostat-horizontal .rheostat-progress {
  height: 4px;
  top: 13px;
}

.rheostat-horizontal .rheostat-handle {
  margin-left: -12px;
}

.col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-5, .col-sm-5, .col-md-5, .col-lg-5, .col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 12.5px;
  padding-right: 12.5px;
}


#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

.collection-footer {
  padding: 20px;
}

.pagination li {
  display: inline;
}

.pagination li > a, .pagination li > span {
    position: relative;
    float: left;
    padding: 5px 10px;
    line-height: 1.5;
    color: #0275d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.pagination li > a {
  color: #E74C3C;
}

.pagination .break > span {
  border: 0;
  background: transparent;
  cursor: auto;
  padding: 0 5px;
  color: black;
}

.pagination .active a {
  background: #efefef;
  color: black;
}

.pagination .previous > a {
  margin-left: 0;
}
