.map {
  position: fixed;
  right: 0;
  width: 40%;
  bottom: 0;
  top: 55px;
}

.marker {
  position: absolute;
  left: -18px;
  top: -18px;
  height: 36px;
  width: 36px;
  background-image: url('../public/images/map-marker.png');
  background-size: contain;
}

.navbar {
  background: #fefefe;
  border-bottom: 1px solid #f5f5f5;
}

.navbar-brand {
  color: #bbb;
}
